<title>Applications</title>
<div class= "content">

    <div class="row">
        <div class="col-10"><h2><b>Organization Dashboard</b></h2></div>
        <div class="col-2"><a href="/org/login" class="btn btn-secondary">Logout</a></div>
    </div>

    <h3>Applications</h3>
    <div class="submitted-requests">
        <% if(details!=null) { %>
        <% details.forEach(function(item){ %>
        <% if(item.status=="PENDING"){ %>    
            <div class="request-class card">
                <div class="row">
                <div class="col-6"><h5><%= item.user%></h5></div>
                 <div class="col-6"><h5><%= item.reqID%></h5></div>
                </div>
                <div class="row">
                    <div class="col request-content">
                         Brand : <%= item.brand %> <br>
                         Model : <%= item.model %>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Additional Information : <br>
                        <%= item.brand %> 
                    </div>
                </div>
                <div class="row">
                    <div class="col res-img">
                        Resource Image : <br>
                        <img src="data:item/<%=item.image.contentType%>;base64,
                        <%=item.image.data.toString('base64')%>">
                    </div>
                </div>
                <div class="row">
                    Status :   <%= item.status %> 
                </div>
                <div class="row">
                    <form method="POST" action="/org-dashboard/application">
                        <input type="hidden" name="resID" value="<%= item._id %>">
                            <input type="hidden" name="reqID" value="<%= item.reqID %>">
                            <input type="hidden" name="user_name" value="<%= item.user %>">
                            <button class="btn btn-success" name="status" type="submit" value="APPROVED">Approve</button>
                            <button class="btn btn-danger" name="status" type="submit" value="REJECTED">Reject</button>
                    </form>
                </div>
            </div>
        <% } %> 
        <% }) %>
       
        <% } else { %>
           <h2>Your application feed is currently empty.</h2> 
        <% } %>    
        
    </div>
</div>

