<title>Resource Support</title>
<div class="row mt-5">
   <div class="col-md-6 m-auto">
      <div class="card card-body">
         <h1 class="text-center mb-3">
             Create Resource Request
            <br>
         </h1>
         <% include ./partials/messages %>
         <form action="/org-dashboard/resource" method="POST">
            <div class="form-group" >
               <input 
                  type="title"
                  id="title"
                  name="title"
                  class="form-control"
                  placeholder="Enter Title"
                  value="<%= typeof title != 'undefined' ? title : '' %>"
                  />
            </div>
            <div class="form-group">
               <input
                  type="desc"
                  id="desc"
                  name="desc"
                  class="form-control"
                  placeholder="Enter Description"
                  value="<%= typeof Description != 'undefined' ? Description : '' %>"
                  />
            </div>
            <div class="form-group">
               <input
                  type="qty"
                  id="qty"
                  name="qty"
                  class="form-control"
                  placeholder="Enter Quantity"
                  value="<%= typeof Value != 'undefined' ? Value : '' %>"
                  />
            </div>

             <div class="form-group">
               <input
                  type="brand"
                  id="brand"
                  name="brand"
                  class="form-control"
                  placeholder="Model Specification"
                  value="<%= typeof Value != 'undefined' ? Value : '' %>"
                  />
            </div>


             <div class="form-group">
               <input
                  type="model"
                  id="model"
                  name="model"
                  class="form-control"
                  placeholder="Model Specification"
                  value="<%= typeof Value != 'undefined' ? Value : '' %>"
                  />
            </div>


            <button type="submit" class="btn btn-block btn-req">
            Submit Request
            </button>
         </form>
      </div>
   </div>
</div>