<title>Contribute Resource</title>
  <div class="content">
    <div class="row">
      <div class="col">
          <h1>Thank you for taking the first step!</h1>
      </div>
    </div>


    <div class="row">
      <div class="col">
         <h5 style="color:rgb(6, 44, 126);"><b>The future you are changing</b></h5>
         <div class="request-desc">
              <h3>INVOICE</h3>  
              <% if(details!=null) { %>
              <% details.forEach(function(item){ %>
              <b>RequestID : </b>  <%= reqID %> <br>
              <b>Name of the Organization : </b> <%= item.name%> <br> 
              <b>Cause : </b> <%= item.title%> <br>
              <b>Description : </b> <%= item.desc %> <br>
              </div>
      </div>
    </div>

    <div class="row">
      <div class="col-8 payment-form">
            <h3>Your Contribution</h3>
            <form action="/user/dashboard/submit-resource" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <input
                  type="brand"
                  id="brand"
                  name="brand"
                  class="brand"
                  placeholder="Enter Brand"
                />
              </div>
              <div class="form-group">
                <input
                  type="model"
                  id="model"
                  name="model"
                  class="model"
                  placeholder="Enter Model"
                />
              </div>

              <div class="form-group">
                <input
                  type="info"
                  id="info"
                  name="info"
                  class="info"
                  placeholder="Enter Additional Information"
                />
              </div>
              <div class="form-group" ><input type="file" id="image" placeholder="Enter Image" name="image" class="form-control" accept='image/*' multiple></div>
              <input type="hidden" name="org_name" value="<%= item.name %>">
              <input type="hidden" name="res_name" value="<%= reqID %>">
              <button type="submit" class="btn btn-block btn-green">Confirm Resource</button>
            </form>
      </div>
    </div>
    </div>
<% }) %>
<% } %>   
