<title>User Applications</title>
<div class= "content">
    <div class="row">
        <h1 style="color:rgb(6, 44, 126);">Your Applications</h1>
        <h7>Please note that after your application has been approved, we will be contacting you via email.</h7>
    </div>
    
    <div class="row">
        <div class="col">
                <div class="submitted-requests">
                <% if(details!=null) { %>
                <% details.forEach(function(item){ %>
                    <div class="request-class card">
                        <div class="row">
                            <div class="col">
                                <h5><%= item.reqID%></h5>
                                Brand : <%= item.brand %> <br>
                                Model : <%= item.model %> <br>
                                Additional Information : <%= item.brand %> <br>
                            </div>
                            <div class="row">
                                <h5>Organization : <%= item.org %></h5>
                                <h5>Status :  <b><%= item.status %></b> </h5>
                            </div>
                        </div>
                    </div>
                <% }) %>
                <% } %>
            </div>
        </div>
    </div>
</div>

