<title>Contribute</title>
<body>
  <div class="content">
    <h2>Thank you for taking the first step!</h2>
    <h7><b>RequestID  <%= reqID %> !</b></h7>
    <br>
   
    <div class="row">
      <% if(details!=null) { %>
      <% details.forEach(function(item){ %>
      <div class="request-desc">
        <h5 style="color:rgb(6, 44, 126);"><b>The future you are changing</b></h5>
        <b>Name of the Organization : </b>
        <%= item.name%> <br> 

        <b>Cause : </b>
        <%= item.title%> <br>

        <b>Description : </b>
          <%= item.desc %> <br>
      </div>

      <% }) %>
    <% } %>
    </div>

    <div class="row">
      <div class="col-6 payment-form">
            <form action="/dashboard/payment" method="POST">
              <div class="form-group">
                <input
                  type="amount"
                  id="amount"
                  name="amount"
                  class="amount"
                  placeholder="Enter Amount"
                />
              </div>
              <input type="hidden" name="id_name" value="<%= reqID %>">
              <button type="submit" class="btn btn-block btn-pay">Confirm Payment</button>
            </form>
      </div>
    </div>
    

</div>
    
</body>
</html>